body{
    margin: 0;
}
h1{
    font-size: 50px;
}
span{
    color: gold;
}

.first-part{
    display: flex;
    background-image: url(images/web5.png);
    background-repeat: no-repeat;
    margin-bottom: 150px;
}
.half-width
{width: 40%;
    padding-left: 6%;
    padding-right: 10%;
}
.half-width img{
    width: 100%;
    padding-top: 5%;
    margin-top: 1%;
    padding-left: 10%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: wheat;
    font-weight: 700;
}
.dream-big{
    display: flex;
    background-image: url(images/web1.png);
    background-position:right;
    background-repeat: no-repeat;
}